[package]
name = "grpc-build"
version = "0.0.3"
authors = ["Stefan Adrian Danaita <me@dsa.io>"]
license = "MIT"
edition = "2018"

readme = "README.md"
description = "gPRC compilation made easy"
homepage = "https://github.com/stefandanaita/grpc-build"
repository = "https://github.com/stefandanaita/grpc-build"

keywords = ["grpc", "tonic", "proto"]
categories = ["development-tools"]

[[bin]]
path = "src/main.rs"
name = "grpc_build"

[lib]
path = "src/lib.rs"
name = "grpc_build"

[dependencies]
prost = "0.6"
petgraph = "0.5.0"
anyhow = "1.0.28"
tonic-build = "0.2"
structopt = { version ="0.3.2", features = ["paw"] }
paw = "1.0.0"
thiserror = "1.0.19"
